footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    .nav{
      justify-content: space-around;
      @media(min-width: $md){
        justify-content: space-evenly;
      }
    }
    @media(min-width: $md){
      border-top: 1px solid black;
      flex-direction: row;
    }
    .footer_info{
      width: 90%;
      border-top: 1px solid black;
      text-align: center;
      font-family: "DM Serif Display", serif;
      @media(min-width: $md){
        border: none;
        border-left: 1px solid black;
      }
    }
    .footer_menu{
      width: 90%;
  
      .nav{
        flex-wrap: nowrap;
        
      }
    }
  }